* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-green: #0c3c3b;
  --color-yellow: #ffc53e;
  --color-white: #f9f3f1;

  --fontsize-h1: 3.8125em;
  --fontsize-h2: 3.0625em;
  --fontsize-h3: 2.4375rem;
  --fontsize-h4: 1.9375rem;
  --fontsize-p: 1em;
}

body {
  font-family: Poppins, Arial, sans-serif;
}

#startscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-green);
}


#startscreen div {
    width: 100%; text-align: center;
 } 
 
 #startscreen div img {
    width: 80%; max-width: 600px; height: auto;
 }






nav {
  background-color: var(--color-green);
  padding: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 40px;
}

.links i {
  color: var(--color-white);
  font-size: 2.5em;
}



.head h1 {
  font-size: var(--fontsize-h2);
  padding-top: 24px;
  color: var(--color-white);
}

.head {
  position: relative;
  text-align: center;

  background-image: url(images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: var(--color-white);
  padding: 80px 16px 120px;
 
}

.head > * {
  position: relative;
  z-index: 1;
}


.head::before {
  
  position: absolute;
  inset: 0;

  background: rgba(12, 60, 59, 0.65); 
}

h1 {
  margin: 0;
}

.head .btn {
  margin-top: 50px;
  display: inline-block;
}




.btn {
  background-color: var(--color-yellow);
  color: var(--color-white);
  text-decoration: none;
  padding: 16px 64px;
  border-radius: 2em;
  font-weight: bold;
  font-size: var(--fontsize-p);
}



.about {
  display: flex;
  justify-content: center;
  padding: 1em;
  text-align: center;
  padding-bottom: 64px;
 
}

.about div {
  max-width: 80%;
  margin-top: 100px;
  background-color: var(--color-green);
  padding: 32px;
  border-radius: 8px;
  opacity: 80%;
}

.about h2 {
  padding-bottom: 24px;
  color: var(--color-white);
 
}

.about p {
  text-align: start;
  color: var(--color-white);
  font-weight: bold;
  line-height: 1.4;
}






.section_merch {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 16px;
}

#merch_text {
  text-align: center;
}

#merch_text h2 {
  font-size: var(--fontsize-h3);
  padding-top: 32px;
}

#merch_text p {
  font-size: var(--fontsize-p);
  padding: 32px 0 82px;
}

.arrow {
  padding-bottom: 32px;
}

.arrow i {
  color: var(--color-white);
}


.merch {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}



.single_merch img {
  width: 100%;
  display: block;
}

.item_merch {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 8px;
}

.item_merch h3 {
  font-size: 20px;
  font-weight: normal;
}

.item_merch span {
  background-color: var(--color-yellow);
  color: black;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 20px;
}

.single_merch h4 {
  font-size: var(--fontsize-p);
  font-weight: normal;
  padding-bottom: 8px;
}

.single_merch p {
  font-size: 14px;
  padding-bottom: 12px;
}


.reviews {
  color: var(--color-yellow);
}

.reviews span {
  color: var(--color-white);
}


.cart_page {
  padding: 16px;
  padding-bottom: 164px;
}


.arrow_cart a {
    color: black;
}


.arrow_cart {
    padding-top: 20px;

}


.arrow_cart p {
    font-size: var(--fontsize-p);
    
    padding-top: 20px;
}

#product {
    display: flex;
    gap: 12px;
    height: auto;
    padding-top: 46px;
}

#product img {
  object-fit: cover;
}

#product div h4 {
    font-size: var(--fontsize-h4);
    padding-bottom: 12px;
    font-weight: 500;
}

#product div p {
    padding-bottom: 16px;
}

.remove {
    display: flex;
    gap: 110px;
    justify-content: baseline;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.count {
  display: flex;
  gap: 10px;
}


.checkout {
  background-color: var(--color-green);
  color: var(--color-white);
  text-align: center;

}


.subtotal {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 12px;
}


.btn_checkout {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 2px;
  background-color: var(--color-yellow);
  color: black;
  font-size: var(--fontsize-h4);
}


#green {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: var(--color-green);
  padding: 32px;
  padding-bottom: 64px;
  padding-top: 64px;
  box-sizing: border-box;
  z-index: 1000;
}



.product_page {
  color: black;
  padding: 16px;
}

.arrow_product_page {
  padding-top: 4px;
}

.product_page h2 {
  font-size: var(--fontsize-h2);
  text-align: center;
  padding-bottom: 48px;
}

.product_page img {
  width: 244px;
  object-fit: cover;
  padding-bottom: 12px;
  
  
}


.img_product_page {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 8px;
}


.size_text {
  display: flex;
  margin-left: 150px;
  margin-right: 100px;
  justify-content: space-between;
}



.sizing {
  font-size: 24px;
  text-align: center;
}

.sizing__size {
  background-color: var(--color-yellow);
  text-decoration: none;
  color: black;
  border-radius: 2px;
  padding: 5px;
}

.sizing__size--selected {
  border: 1px solid black;
  padding: 10px;
  color: rgb(198, 28, 28);
}


.product_icons {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  justify-content: space-evenly;
}

.product_icons h4 {
  font-size: 1.17em;
}

.product_icons__heart {
  text-align: center;
}

.product_icons__cart {
  text-align: center;
}


.product_icons__heart a {
  color: black;
  font-size: var(--fontsize-h4);

}

.product_icons__cart a {
  color: black;
  font-size: var(--fontsize-h4);

}

.details_product_page {
  padding-top: 64px;
}

.details_product_page h4 {
  font-size: var(--fontsize-p);
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 48px;
}


.product_summary {
  border-bottom: 1px solid var(--color-green);
  padding-bottom: 4px;
  font-size: 20px;

}

.product_summary .dropdown {
  font-size: smaller;
}

.product_summary summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fontsize-p);
  font-weight: light;
  color: black;
}

.product_summary summary {
  list-style: none;
}

.product_summary[open] .icon {
  transform: rotate(90deg);
}

.product_summary .icon {
   font-size: 20px;
  transition: transform 0.3s ease;
  font-weight: 200;
}

.accordion {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
}

.likes  i {
  font-size: 10em;
  background-color: #7b7b7b;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.likes h3 {
  font-size: var(--fontsize-h4);
  padding-top: 2em;
}

.likes div i {
  

}






